<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" verbose="1">


	<listeners>
		<listener class-name="utils.RetryListener" />
	</listeners>

	<test name="Shady Meadows BnB Test">
		<classes>
			<class name="runner.TestNGCucumberRunner" />
		</classes>
	</test>
</suite>
